* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    background: #ffffff;
    color: #22100d;
}

header {
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 15px 13%;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 10px 10px;
    transition: all 0.5s ease;
}

.logo img {
    height: 100px;
    width: 175px;
    cursor: pointer;
    padding: 20px 0;
}

.navbar {
    display: flex;
}

.navbar a {
    color: #22100d;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 22px;
    transition: all 0.5s ease;
}

.header-icons {
    display: flex;
    align-items: center;
}

.header-icons i {
    margin-left: 10px;
    font-size: 24px;
    color: #22100d;
    transition: all 0.5s ease;
    margin-right: 15px;
}

.header-icons i:hover {
    transform: scale(1.2);
    color: #f66962;
}

section {
    padding: 80px 13%;
}

.home {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(https://img.freepik.com/free-photo/blurred-abstract-background-smooth-colors_58702-1555.jpg?w=900&t=st=1709448197~exp=1709448797~hmac=52aa0d181f6d03fc5d59f1963576e9af43d7024726222e2f585554b233c926eb);
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: center;
}

.content h1 {
    font-size: 60px;
    margin: 15px 0 15px;
}

.content h3 {
    color: rgba(169, 71, 194, 0.934);
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
}

.content p {
    margin-bottom: 48px;
    font-size: 18px;
    color: #685f78;
    font-weight: 500;
}

.subscribe form {
    width: 100%;
    max-width: 460px;
    position: relative;
}

.subscribe form input:first-child {
    display: inline-block;
    width: 100%;
    outline: none;
    padding: 16px 140px 16px 15px;
    border: 2px solid #f66962;
    border-radius: 30px;
}

.subscribe form input:last-child {
    position: absolute;
    display: inline-block;
    border: none;
    outline: none;
    background: #f66962;
    color: #ffffff;
    padding: 16px 40px;
    border-radius: 30px;
    cursor: pointer;
    top: 2px;
    right: 1px;
}

.image img {
    height: auto;
    width: 100%;
}

.container {
    padding: 70px 13%;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    cursor: pointer;
}

.container-img img {
    width: 80px;
    height: 80px;
}

.container-box {
    display: flex;
    align-items: center;
    gap: 20px;
    border: 1px solid #e9ecef;
    border-radius: 20px;
    padding: 20px 30px;
    box-shadow: -12px -12px 32px rgba(236, 236, 236, 0.15);
    transition: all 0.5s ease;
}

.container-box:hover {
    transform: translateY(-15px);
}

.container-text h4 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 4px;
}

.container-text p {
    font-size: 16px;
    color: #685f78;
    font-weight: 500;
}

.Categories img {
    height: 80px;
}

.center-text {
    text-align: center;
    ;
}

.center-text h5 {
    color: #f66962;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.center-text h2 {
    font-size: 40px;
    line-height: 1.2;
}

.Categories-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    align-items: center;
    cursor: pointer;
    text-align: center;
    margin-top: 64px;
}

.box {
    padding: 25px 60px;
    border: 1px solid #e9ecef;
    border-radius: 20px;
    box-shadow: -12px -12px 32px rgba(236, 236, 236, 0.15);
    transition: all 0.5s ease;
}

.box img {
    height: auto;
    width: 110px;
    margin-bottom: 20px;
}

.box:hover {
    transform: translateY(-15px);
}

.box h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 1.3;
    transition: all 0.5s ease;
}

.box h3:hover {
    color: #f66962
}

.box p {
    font-size: 16px;
    color: #685f78;
    font-weight: 500;
    transition: all 0.5s ease;
}

.box p {
    font-size: 16px;
    color: #685f78;
    font-weight: 500;
}

.main-btn {
    text-align: center;
    margin-top: 80px;
}

.btn {
    display: inline-block;
    padding: 16px 30px;
    font-size: 18px;
    font-weight: 700;
    background: #f66962;
    color: #ffffff;
    border-radius: 30px;
    transition: all 0.5s ease;
}

.btn:hover {
    transform: scale(0.9) translateY(-5px);
}

.courses-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    align-items: center;
    cursor: pointer;
    text-align: center;
    margin-top: 64px;
    border-radius: 15px;
}

.row {
    background: #ffffff;
    padding: 0px 0px 10px 0px;
    border-radius: 20px;
    box-shadow: 0px 5px 40px rgba(19, 8, 73, 0.13);
    transition: all 0.5s ease;
}

.row img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.row:hover {
    transform: translateY(-15px);
}

.courses-text {
    padding: 35px 20px;
}

.courses-text h5 {
    color: #f66962;
    font-size: 18px;
    font-weight: 700;
    ;
}

.courses-text h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    margin: 15px 0 15px;
    transition: all 0.5s ease;
}

.courses-text h3:hover {
    color: #f66962;
}

.courses-text h6 {
    color: #696969;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.rating {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.star i {
    color: #f66962;
    margin-right: 2px;
    font-size: 17px;
}

.review p {
    color: #696969;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
}

.cta-content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    align-items: center;
    margin-top: 80px;
}

.cta-img img {
    width: 100px;
    height: 100px;
}

.about {
    padding: 80px 13%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: center;
}

.about-img img {
    width: 100%;
    height: auto;
}

.about-text h2 {
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.about-text p {
    font-size: 18px;
    color: #685f78;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 30px;
}

.about-text h4 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 4px;
}

.about-text h5 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}

.contact {
    padding: 60px 13%;
    background-color: rgba(167, 215, 227, 0.15);
}

.main-contact {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    align-items: center;
}

.contact-content img {
    height: 100px;
    width: 175px;
    cursor: pointer;
    padding: 25px 5px;
}

.contact-content li {
    margin-bottom: 18px;
}

.contact-content li a {
    display: block;
    color: #22100d;
    font-weight: 500px;
    font-size: 15px;
    transition: all 0.5s ease;
}

.contact-content li a:hover {
    transform: translateX(10px);
    color: #f66962;
}

footer {
    color: #685f78;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    padding: 50px;
}
